<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <h3>Phone</h3>
        All American Trade Work
        <br>
        801-995-2513
      </div>
      <div class="col-md-4">
        <h3>Hours</h3>
        Mon - Fri: 9:00am - 5:00pm
        <br>
        Weekends:  By appointment
      </div>
      <div class="col-md-offset-2 col-md-8">
        <hr>
        &copy; All American Trade Work. All rights reserved.
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
