<nav>
  <ul class="container nav nav-pills">
    <li role="presentation"> <a class="nav-link" href="index.html"> Home </a></li>
    <li role="presentation"> <a class="nav-link" href="testimonials.html"> Testimonials </a></li>
    <li role="presentation"> <a class="nav-link" href="about-us.html"> About Us </a></li>
    <li role="presentation"> <a class="nav-link" href="locations.html"> Locations </a></li>
    <li role="presentation"> <a class="nav-link" href="gallery.html"> Gallery </a></li>
    <li role="presentation"> <a class="nav-link" href="services.html"> Services </a></li>
    <li role="presentation"> <a class="nav-link" href="contact.html"> Contact </a></li>
  </ul>
</nav>
