body {
    font-size: 12pt;
}

nav {
    background-color: #333333;
    color: #fefefe;
    padding: 10px;
}

.nav-link {
    color: #fefefe
}

.contact {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
    margin-top: 40px;
    padding-top: 20px;
    color: #efefef;
    background-color: #777;
}
